@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
    color: rgb(1,1,39);
    background-color:rgb(255,255,255) ;
}
h1,
h2,
h3,
p,
li {
    font-family: 'Montserrat',sans-serif;
    font-style: italic;
}
h1 {
    font-size: 30px;
    margin-left: 20px;
}
p,
li {
    font-size: 22px;
}
header {
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    display : flex;
    align-items: center;
    justify-content: space-between; 
    border: none;
}
nav {
    text-align: right;
}
a {
    text-decoration: none;
}
img,
video {
    width: 98%;
    border-radius: 20px;
    padding:1%;
}
iframe {
    width: 100%;
    border: none;
}
footer {
    font-family: 'Montserrat',sans-serif;
    font-style: italic;
}
.button,
.button2,
.button_court {
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.button:hover,
.button2:hover {
    transform: scale(1.03);
    color:rgb(1, 1, 39);
    border:2px solid rgb(1, 1, 39);
}
.button {
    border-radius: 40px;
    color: rgb(1,1,39);
    padding: 20px 34px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border: 2px solid rgb(1,1,39);
}
.button:hover{
    box-shadow: 0 5px 15px rgb(0,0,0);
    background-color: rgb(1, 1, 39);
    color: rgb(255,255,255);
}
.button2,
.button_court {
    color: rgb(202,255,0);
    height: 50px;
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid rgb(202, 255, 0);
    border-radius: 10px;
}
.button2 {
    width: 175px;
}
.button_court {
    width: 100px;
}
.button2:hover {
    box-shadow: 0 10px 25px rgb(202, 255, 0);
    background-color: rgb(202, 255, 0);
}
.case_projet2 {
    width: 45%;
    border: 2px solid rgb(255,255,255);
    border-color: rgb(255,255,255) ;
    border-radius: 25px;
}
.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    gap: 20px;
}
.case {
    padding: 8px 12px;
    border-radius: 25px;
    color: rgb(1, 1, 39);
    display: block;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.case:hover {
    transform:scale(1.025);
    box-shadow: 10px 10px 15px rgb(1,1,39);
}
.info {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    gap: 20px;
}
.colonne1,
.colonne2 {
    width: 48%;

}
.colonne2 {
    border-left: 4px solid rgb(255,255,255);
    padding-left: 40px;
}
.ligne {
    height:3px;
    width: 99%;
    border-radius: 30px;
    background-color: rgb(1, 1, 39);

}
.media {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px, 1fr));
    gap:10px;
}